@import 'tailwindcss';

@theme {
  --color-ocean-depth: #0b2532;
  --color-forest-canopy: #1e3f20;
  --color-sand-gold: #ffb361;
  --color-paper-white: #f0f4f5;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
